* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    height: 100vh;
    justify-items: center;
    align-content: center;
}

#title {
    align-self: start;
    margin-top: -100px;
    font-size: 48px;
    font-family: cursive;
}

#gameBoard {
    border-collapse: collapse;
}

.cell {
    border: 2px solid #333;
    text-align: center;
    cursor: pointer;
    height: 100px;
    width: 100px;
    font-size: 70px;
    font-family: cursive;
}

.cell:first-child {
    border-left: none;
}

.cell:last-child {
    border-right: none;
}

.cellRow:first-child .cell{
    border-top: none;
}

.cellRow:last-child .cell{
    border-bottom: none;
}

.endgame {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 5rem;
}

#replay {
    margin-top: 50px;
    font-size: 2rem;
    background-color: #fff;
    border: 1px solid black;
    padding: .25em .5em;
    cursor: pointer;
}

#replay:hover {
    background-color: black;
    color: #fff;
    border-color: blueviolet;
}

#endgameReplay {
    margin-top: 20px;
    font-size: 3rem;
    background-color: #fff;
    border: 1px solid black;
    padding: .25em .5em;
    cursor: pointer;
}

#endgameReplay:hover {
    background-color: black;
    color: #fff;
    border-color: #fff;
}